__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
.env
*.env
.venv/
poetry.lock
__pypackages__/
*.pytest_cache/
htmlcov/
dist/
build/
.eggs/
*.egg-info/
*.egg
.DS_Store
*.swp

# Docker
.env
*.env
docker-compose.override.yml
